.introformatproject {
    font-size: 50px;
  }

.subheading {
    font-size: x-large;
    text-align: left;
  }
  
  .descHeading {
    font-size: x-large;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 500px;
  }
  .imgformat2 {
    width: 15%;
    height: 15%;
    float: left;
    padding-left: 200px;
  }

