.introformatproject {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
  }

.subheading {
    font-size: x-large;
    text-align: left;
  }
  
  .descHeading {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .imgformat2 {
    width: 15%;
    height: 15%;
  }

