.introformatintern {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 3rem;
  }

img {
  width: 100%;
}


.imgformat {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 27%;
  height: 27%;
}

.subheading {
  font-size: x-large;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.paragraph {
  font-size: 20px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  line-height: 25px;
}

.date {
  text-align: left;
  padding-left: 20cm;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}