body,html {
  margin: 0;
  padding: 0;
}

header {
  width:100%;
  height: 70px;
  background-color: #9DD9F3;
}

h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #000000;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a{
  text-align: center;
  color: #000000;
  text-decoration: none;
}

a:hover {
  color:#ffffff;
  transition: 0.5s;
}

img {
  width: 100%;
  margin-top: 10px;
}


.imgformat {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 27%;
  height: 27%;
}

.subheading {
  font-size: x-large;
  text-align: left;
}

.paragraph {
  font-size: 20px;
  text-align: left;
}

.date {
  text-align: left;
  padding-left: 20cm;
  font-style: italic;
}

.introduction-font1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding-left: 5cm;
  margin-top: 5cm;
  color: gray;
  font-size: 40px;
}

.introduction-font2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  padding-left: 5cm;
  margin-top: 10px;
  color: black;
  font-size: 80px;
}

.introduction-font3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding-left: 5.1cm;
  margin-top: -1cm;
  color: gray;
  font-size: 15px;
}

.introduction-image {
  float: right;
  width: 35%;
  height: 35%;
  padding-right: 200px;
  margin-top: -150px;
}